<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileMoverApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="nlog.configfile" value="NLog.config" />
    </appSettings>
    <userSettings>
        <FileMoverApp.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value></value>
            </setting>
            <setting name="DestinationPath" serializeAs="String">
                <value></value>
            </setting>
        </FileMoverApp.Properties.Settings>
    </userSettings>
</configuration>