<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- 定义日志输出目标 -->
  <targets>
    <!-- 文件日志目标 -->
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} [${threadid}] ${logger} - ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            maxArchiveFiles="2"
            archiveAboveSize="10485760" />
    
    <!-- 控制台日志目标 -->
    <target xsi:type="Console" name="console"
            layout="${longdate} ${uppercase:${level}} ${logger} - ${message} ${exception:format=tostring}" />
            
    <!-- Visual Studio调试窗口目标 -->
    <target xsi:type="Debugger" name="debugger"
            layout="${longdate} ${uppercase:${level}} [${threadid}] ${logger} - ${message} ${exception:format=tostring}" />
  </targets>

  <!-- 定义日志规则 -->
  <rules>
    <!-- 所有日志都写入文件 -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    
    <!-- 日志输出到控制台 -->
    <logger name="*" minlevel="Debug" writeTo="console" />
    
    <!-- 所有日志输出到调试窗口，包括Debug级别 -->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>